<section class="footer-section">
    <!-- Footer -->
    <footer class="white-section" id="footer">
        <img class="my-logo" src="{{ url_for('static', filename='site_img/icons/Logo-round.png') }}" width="60" height="60" color="red" alt="MN Logo">
        <div class="container-fluid">
            <i class="fb social-icon fab fa-facebook-f"></i>
            <i class="tw social-icon fab fa-twitter"></i>
            <i class="insta social-icon fab fa-instagram"></i>
            <i class="social-icon fas fa-envelope"></i>
            <p>© Copyright {{ year }} MN</p>
        </div>
    </footer>
</section>