{% extends 'base.html' %}

{% block title %}

    <title>Portfolio</title>

{% endblock %}


<!-- Features Section -->
{% block features %}

    <h3 class="feature-titles">It's all about me.</h3>
    <br>
    <p>
        For a change this is all about me....Just Kidding in a way 🤓.
        To Start off I have made this Site available to everyone to show off my abilities and also my Professional side,
        You can view my skills and interactive resume, right on this site.

        I have some free projects that I have built also available here and some not so free, So please feel free to look around.
        <br><br>
        PS Thanks for the visit 👀.
    </p>
    <br><br>

    <h3 class="feature-titles">Site info</h3>
    <br>
    <p>
        It is all about the details...<br>
        I have put together this site to showcase my skills, but enough about that, Lets get Technical.
        Below Technologies and languages was used to write this site.
        And I will mention all the links and sources that i used.
    </p>
    <br><br>

{#    <div class="container-fluid logo-container">#}

        <img src="https://www.python.org/static/community_logos/python-logo.png" width="165" height="64" alt="Python Logo" title="Python Logo">
        <img src="https://flask.palletsprojects.com/en/2.0.x/_images/flask-logo.png" width="165" height="64" alt="Flask Logo" title="Flask Logo">
        <img src="https://jinja.palletsprojects.com/en/3.0.x/_images/jinja-logo.png" width="165" height="64" alt="Css Logo" title="Jinja Logo">
        <img src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/120px-CSS3_logo_and_wordmark.svg.png" width="60" height="64" alt="Css Logo" title="Css Logo">

{#    </div>#}
    <br><br>


{% endblock %}


{#<!-- Testimonials section -->#}
{#{% block testimonial %}#}
{##}
{#    <div class="container-fluid">#}
{##}
{#        <h3 class="feature-titles">I will add more data/info as my "Fan Base" grows. 🤭</h3>#}
{#        <em>by, Marius Niehaus.</em>#}
{##}
{#    </div>#}
{##}
{#    <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>#}
{#    <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">#}
{#    <em>Beverly, Illinois</em> -->#}
{##}
{#{% endblock %}#}
{##}
{##}
{#<!-- Press Section-->#}
{#{% block press %}#}
{##}
{#        <img src="images/techcrunch.png" alt="tc-logo">#}
{#        <img src="images/tnw.png" alt="tnw-logo">#}
{#        <img src="images/bizinsider.png" alt="biz-insider-logo">#}
{#        <img src="images/mashable.png" alt="mashable-logo">#}
{##}
{#{% endblock %}#}
{##}
{##}
{#<!-- Pricing Section-->#}
{#{% block pricing %}#}
{##}
{#    <h2>For The non free items</h2>#}
{#    <p>Simple and affordable price plans.</p>#}
{##}
{#    <h3>Thingies</h3>#}
{#    <h2>Free</h2>#}
{#    <p>5 Matches Per Day</p>#}
{#    <p>10 Messages Per Day</p>#}
{#    <p>Unlimited App Usage</p>#}
{#    <button type="button">Sign Up</button>#}
{##}
{#    <h3>Thingies again</h3>#}
{#    <h2>$49 / mo</h2>#}
{#    <p>Unlimited Matches</p>#}
{#    <p>Unlimited Messages</p>#}
{#    <p>Unlimited App Usage</p>#}
{#    <button type="button">Sign Up</button>#}
{##}
{#    <h3>Another Thingie</h3>#}
{#    <h2>$99 / mo</h2>#}
{#    <p>Pirority Listing</p>#}
{#    <p>Unlimited Matches</p>#}
{#    <p>Unlimited Messages</p>#}
{#    <p>Unlimited App Usage</p>#}
{#    <button type="button">Sign Up</button>#}
{##}
{#{% endblock %}#}
{##}
{##}
{#<!-- Call to Action Section -->#}
{#{% block action %}#}
{##}
{#    <h3>Find the True Love of Your Things's Life Today.</h3>#}
{#    <button type="button">Download</button>#}
{#    <button type="button">Download</button>#}
{##}
{#{% endblock %}#}


