{% extends 'second-base.html' %}


<!-- Page title -->
{% block title %}

    <title>my Skills</title>

{% endblock %}


<!-- Features Section -->
{% block features %}

    <!-- Skills section -->
    <div class="section-cv">

        <div class="row section-headers">
            <h2>PERSONAL SUMMARY</h2>
        </div>

            <p>
                I am a Qualified Network Engineer / Systems Administrator, currently working as a Infrastructure Engineer for
                RSA Market Agents on an end user level,
                with 15 years plus experience in the IT industry overseeing business technology needs and support services, That servs our users with support and
                using more modern tools
                to better the company and its in-house users.<br>
                Hard worker and a high attention to detail.
                Working Collaboratively with teams to produce the results from what is needed in the company.
                Always willing to help and also love to learn the new tech , even to this day. What can I say I love what I Do
            </p>
    </div>

    <div class="section-cv">

        <div class="section-headers">
            <h2>SKILLS SUMMARY</h2>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <h5>Operating Systems</h5>
                <table>
                    <tr>
                        <td>Linux</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>Microsoft</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>Mac OS</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>Mobile OS</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-3">
                <h5>Databases</h5>
                <table>
                    <tr>
                        <td>MS SQL</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>MySQL</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>Postgress</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>sqlLite</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-3">
                <h5>Dev</h5>
                <table>
                    <tr>
                        <td>HTML</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>CSS</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>API's</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>Web Dev</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-3">
                <h5>Misc</h5>
                <table>
                    <tr>
                        <td>Security</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>Azure</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>IOT</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>UI</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                    <tr>
                        <td>Projects</td>
                        <td>⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

    <div class="section-cv">

        <div class="section-headers">
            <h2>Work Experience</h2>
        </div>

        <div class="row work-exp-padding">
            <h4>RSA Market Agents</h4>
            <h6>October 2010 - Present</h6>
            <h5>Key Responsibilities</h5>
            <ul>
                <li>Assist in maintain complete network of all 13 branches.</li>
                <li>Implement new systems, And Infrastructure.</li>
                <li>Assist with Microsoft cloud provider, on on OS level.</li>
                <li>Monitor Helpdesk.</li>
                <li>Maintain MySQL and MS SQL databases.</li>
                <li>1st,2nd and 3rd line support to all users.</li>
                <li>Utilize all OLD Infrastructure servers for small automation tasks.</li>
                <li>Servers that being is/was maintained is server 2003, 2008, 2012 Active directory and NT4.</li>
                <li>Linux servers for use Automation purposes, In the Microsoft Cloud environment.</li>
                <li>Used Xen/VMware servers for virtualization.</li>
                <li>Fibre links into Forti/Aruba network, Monitoring links with Zabbix.</li>
                <li>Wireless Networks.</li>
                <li>Assist Accpac accounting problems.</li>
                <li>Linux Flavours is Ubuntu.</li>
                <li>Systems running, Xen Servers, server 2003, server 2008, Microsoft Sql 2008-2014, MySQL, IIS 7.</li>
                <li>Running all Main services in Cloud environment.</li>
                <li>Knowledge of web servers like Apache,IIS Linux, Windows, Mac OS, Some IOS Dev with XCode.</li>
                <li>Got promoted from Network Admin to Support Manager in October 2017 and Again to Infrastructure Engineer 2019.</li>
                <li>And currently have a team and managing their daily tasks with support ticket system and user queries with third party Support Desk and Service
                </li>
                <li>providers.</li>
                <li>Automation tasks with cron and python reading daily sales, csv files and injecting into MS SQL in the cloud.</li>
                <li>(Build the complete solution from scratch) with Python and MySQL.</li>
                <li>Implemented numerous sage systems.</li>
                <li>Digital Sign Boards with WordPress and Raspberry Pi.</li>
                <li>Currently Busy with Python Courses And Completed ITIL4 Foundation course in 2020 and need to write the exams.</li>
                <li>And reporting to the IT Manager.</li>

            </ul>

        </div>

        <div class="row">
            <h4>Aramex South Africa</h4>
            <h5>Position | Operations Supervisor</h5>
            <h6>June 2013 - October 2013</h6>
            <h5>Key Responsibilities</h5>
            <ul>
                <li>Managed junior techs through daily routine checks, backups Monitor Servers health.</li>
                <li>Monitor Service desk.</li>
                <li>Monitor Servers.</li>
                <li>Checking Backup jobs.</li>
            </ul>

        </div>

    </div>

    <div class="section-cv">
        <div class="section-headers">
            <h2>Motivation</h2>
        </div>

        <div class="row">
            <p>I am a hard worker and self-motivated with a niche for Technology/Electronics/ I have made some power monitors,
                electronic billboards and a 3D Printer, and Starting to look into IOT, I love what I do and is good at it.
                Would like to know more on a service provider level, rather than using the services for end user/client level.
                Will take problems and turn them into solutions, and also learn new ways of building better solutions.
                Just need the opportunity to be able to display my strengths.
            </p>
            <p>
                Motto in Life:
                Don't let success go to your head.
                and don't let failure go to your heart.
            </p>
        </div>
    </div>

    <div class="section-cv">
        <div class="section-headers">
            <h2>Education & Training</h2>
        </div>

        <div class="row">
            <h5>2012</h5>
            <ul>
                <li>CompTIA</li>
                <ul>
                    <li>Security +</li>
                </ul>

            </ul>

            <h5>2016</h5>
            <ul>
                <li>Oxbridge Academy</li>
                <ul>
                    <li>L4 ABMA-UK</li>
                    <li>Computer Engineering</li>
                    <li>Project Management</li>
                    <li>Network Security- Principles</li>
                </ul>

            </ul>

            <h5>2017</h5>
            <ul>
                <li>Qlik SA</li>
                <ul>
                    <li>Qlikview - Developer</li>
                    <li>Qlikview - Designer</li>
                </ul>
                <br>
                <li>Compuways / CodeAcadamy</li>
                <ul>
                    <li>Python Crash Course</li>
                </ul>

            </ul>

            <h5>2018</h5>
            <ul>
                <li>Data Camp</li>
                <ul>
                    <li>Python Fundamentals | 15hrs</li>
                    <li>Importing & Cleaning Data with Python | 13hrs</li>
                    <li>Data Scientist with Python | 84hrs</li>
                </ul>

            </ul>

            <h5>2019</h5>
            <ul>
                <li>Cybrary</li>
                <ul>
                    <li>Advance pen testing | 08/12/2019</li>
                    <li>Launching Your Penetration Tester Career | 08/12/2019</li>
                    <li>Create a Subnet | 08/12/2019</li>
                    <li>Amazon Machine Learning Attendance</li>
                </ul>

            </ul>

            <h5>2020</h5>
            <ul>
                <li>Torque-IT</li>
                <ul>
                    <li>ITIL V4 Foundation</li>
                    <li>100 Days of Code (Python) 40% | Udemy</li>
                </ul>

            </ul>

            <h5>2021</h5>
            <ul>
                <li>Udemy</li>
                <ul>
                    <li>100 Days of code (Python) 80%</li>
                    <li>IOS App Development 20%</li>
                </ul>

            </ul>

        </div>
    </div>

    <div class="section-cv links">
        <div class="section-headers">
            <h2>Contact me</h2>
        </div>

        <div class="row">
            <div class="col-lg">
{#                {% include "contact-form.html" %}#}
            </div>

        </div>
    </div>

{% endblock %}